services:
  api:
    build:
      context: ../ownership-api-master
      dockerfile: Dockerfile
    ports:
      - "8080:8080"

  ui:
    build:
      context: ../ownership-ui-master
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
    depends_on:
      - api
